# files

*.pgm
*.png
*.jpg
*.task
*.pt
*.pth
*.swp
*.swo
*.pkl
tags

ExpressiveEncoding/FaceToolsBox/*.mp4
tests/*.mp4
                        

# soft link
codes

# folder
.idea/
__pycache__/
src/
tensorboard/
models/
video/
tests/puppet


# temp file.
results
error.txt

# scripts
scripts/exp*
scripts/pivot*
scripts/*expressive*
scripts/pose*
scripts/puppe*
sh_scripts_val/
